<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/front_page.css" />
    <link rel="stylesheet" href="../static/css/code.css">

    <link rel="stylesheet" href="../static/css/loader.css">


    <title>Blog 1</title>

</head>

<body>
    <section id="header" class="nav">
        <div class="header">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1><span>C</span>HETAN <span>B</span>HAGAT</h1>
                    </a>
                </div>

                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul id="nav_ul">
                        <li><a href="#hero" data-after="Home">Home</a></li>
                        <li><a href="#services" data-after="Service">Services</a></li>
                        <li><a href="#about" data-after="About">About</a></li>
                        <li><a href="#contact" data-after="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <p class="fd_content con2" style="position: fixed" id="center_btn">
    </p>

    <div class="container">
        <div class="row content">
            <div class="col-sm-3">
                <div id="blogging" class="d-flex flex-column">
                    <a class="nav-link" href="#">
                        <div class="text-light">16k Followers</div>
                        <span class="sr-only">(current)</span>
                    </a>

                    

                    <button type="button" class="btn btn-outline-light follow_btn">Follow</button>
                    <br>

                    <div class="d-flex flex-row">
                    <button type="button" class="btn btn-light btn-circle btn-md" data-bs-toggle="tooltip"  data-bs-placement="bottom" title="Subscribe to get an Email whenever Chetan Bhagat publishes a Blog"> 
                        <i class="fa fa-envelope"></i>
                    </button>
                    <button id="copystart" class="btn btn-light btn-circle btn-md" type="button" data-bs-placement="bottom" title="Copy code when code is clicked">
                        <i class="fa fa-copy"></i>
                    </button>
                </div>
              
                </div>

            </div>
            <div class="col-sm-8" id="load">
                <div class="loader" id="loader">
                    <div class="rocket">
                    <img src="../static/images/rocket.svg" />
                    <img class="cloud" src="../static/images/cloud.svg" style="--i:0;" />
                    <img class="cloud" src="../static/images/cloud.svg" style="--i:1;" />
                    <img class="cloud" src="../static/images/cloud.svg" style="--i:2;" />
                    <img class="cloud" src="../static/images/cloud.svg" style="--i:3;" />
            
                    </div>
                
                    <span><i></i></span>
                </div>
            </div>
            <div class="col-sm-8" id="mainContainer" style="display:none">

                <div class=" title" id="content_title"></div>
                <div class="subheading" id="subheading"></div>
                <div class="d-flex flex-column">
                    <div class="tags" id="tags"></div>

                    <div class="d-flex flex-row blog_details">
                        <div class="date" id="date"></div>
                        <div class="d-flex flex-row" id="likes"><i class="fa fa-thumbs-up"></i><div id="t_likes"></div></div>
                        <div class="d-flex flex-row" id="comments"><i class="fa fa-comment"></i><div id="t_comment"></div></div>
                    </div>
                </div>

                <div class="mt-5" id="body"></div>

            </div>
        </div>
    </div>

    <script src="../static/js/tooglenav.js"></script>

    <script src="../static/js/header.js"></script>

    <script src="../static/js/onwidth500.js"></script>

    <script src="../static/js/getBlogById.js"></script>



    <script src="../static/js/copy_blockquotes.js"></script>
    <script src="../static/js/setdatainbody.js"></script>



</body>

</html>