@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.mycards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #161623;
}

.mycards:before {
  content: "";
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  /* background-repeat: repeat-y; */
  clip-path: circle(30% at right 70%);
}

.mycards:after {
  content: "";
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}

.mycard_heading {
  position: absolute;
  top: 110vh;
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-top: 100px;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 200px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .card-body {
  padding: 20px;
  text-align: center;
  transform: translateY(220px);
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .card-body {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .card-body .h2 {
  position: absolute;
  top: -190px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  /* pointer-events: none; */
}
.container .card .card-body .h2 img {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  max-width: 100px;
  max-height: 100px;
  /* pointer-events: none; */
}

.container .card .card-body .h3 {
  font-size: 1.8em;
  color: #fff;
  font-weight: 300;
  overflow-y: scroll;
  max-height: 65px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container .card .card-body .h3::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.container .card .card-body .card-text {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  max-width: 240px;
  max-height: 100px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container .card .card-body .card-text::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.a_tag {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  min-height: 10px;
  background-image: linear-gradient(
    to right bottom,
    #115ccd,
    #006dd7,
    #007edf,
    #008ee6,
    #129eeb
  );
  border-radius: 20px;
  margin: auto;
  width: 70%;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  max-width: 200px;
}

.a_tag:nth-child(1) {
  margin-left: 10px;
}

.a_tag:hover {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.container .card .card-body .demobody {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  max-height: 10px;
  overflow: hidden;
}
.container .card .card-body a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0.5px 5px rgba(131, 86, 86, 0.2);
}
