.teachers_Card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.teach_card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

.teach_card div {
  position: inherit;
  /* display: inherit; */
}
.teach_card .img_section {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
  max-width: 350px;
}

.teach_card .img_section .teach_options {
  position: absolute;
  top: 10px;
  right: 10px;
}

.teach_card .img_section ul li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100px);
}

.teach_card .img_section ul li:nth-child(1) {
  transition: 0.1s ease-in-out;
}

.teach_card .img_section ul li:nth-child(2) {
  transition: 0.15s ease-in-out;
}

.teach_card .img_section ul li:nth-child(3) {
  transition: 0.3s ease-in-out;
}

.teach_card .img_section:hover ul li {
  transform: translateX(0px);
}

.teach_card .img_section ul li span {
  position: absolute;
  right: 0px;
  transform: translateX(-50px);
  white-space: nowrap;
  padding: 4px 6px;
  background: #fff;

  color: #000;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.teach_card .img_section ul li:hover {
  background: #ff007a;
  color: #fff;
}

.teach_card .img_section ul li:hover span {
  opacity: 1;
}

.teach_card .img_section ul li span::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 10px;
  height: 10px;
  right: -5px;
  transform: translateY(5px) rotate(45deg);
}
.teach_card .img_section img {
  width: 100%;
  /* max-width: 300px; */
  height: 100%;
  transition: 0.5s ease-in-out;
  transform-origin: right;
}

.teach_card .img_section:hover img {
  transform: scale(1.5);
}

.teach_card .details {
  padding: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;

}

.teach_card .details .fee {
  color: #ff007a;
}
.teach_card .details .rating .fa-star {
  color: rgb(247, 247, 27);
  cursor: pointer;
}

.teach_card .details .rating .grey {
  color: grey;
}

